header {
    background: #0c0c0c9e;
    position: absolute;
    opacity: 0;
}

header {
    opacity: 0;
    transition: opacity 0.3s ease;
}
  
header:hover {
    opacity: 1;
}

#player-wrapper {
    padding: 0 !important;
    height: calc(100% - 48px) !important;
}
.container.watch-page {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
}
body > div.wrapper > main > div.watch > div.container.watch-page {
    max-width: 75% !important;
}
#player {
    height: calc(100% + 42px) !important;
}
#controls {
    margin-top: 50px;
    margin-bottom: 8px;
}