header {
    background: #0c0c0ce8;
    position: absolute;
    opacity: 0;
}

header {
    opacity: 0;
    transition: opacity 0.3s ease;
}
  
header:hover {
    opacity: 1;
}

#player-wrapper {
    padding: 0 !important;
    height: 100% !important;
}
.container.watch-page {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
}
body > div.wrapper > main > div.watch > div.container.watch-page {
    max-width: 75% !important;
}
#player {
    height: calc(100% + 42px) !important;
}
#controls {
    margin-top: 50px;
    margin-bottom: 8px;
}

/* Queue Modal */
.queue-modal {
    width: 100%;
    top: 0px;
    position: fixed;
    height: 100%;
    background-color: #000000f0;
    z-index: 999999;
    display: none;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.queue-modal-content {
    user-select: none;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    display: flex;
    align-content: center;
    width: 37em;
    align-items: center;
}
.queue-details {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.server-header {
    text-align: center;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    background-color: #121212;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.server-header-btn {
    padding: 20px;
    flex: 0 1 auto;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.4s ease;
}
.server-header-btn:hover {
    background-color: #2c2c2c8c;
    border-radius: 40px;
}
.header-text {
    flex: 1 1 auto;
    margin-left: 40px;
}
.header-text-fav {
    margin-left: 0 !important;
}
.server-header-btn {
    padding: 20px;
    flex: 0 1 auto;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.4s ease;
}
.server-header-btn:hover {
    background-color: #2c2c2c8c;
    border-radius: 40px;
}
.queue-table {
    background-color: #171717;
    width: 100%;
    border-top: 1px #4141417d solid;
    height: 389px;
    overflow-y: scroll;
    display: table-column;
}
.queue-button-panel {
    text-align: center;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #121212;
    height: 75px;
    align-content: center;
    padding: 3em;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.btn-info {
    color: #fff;
    width: 50px;
    height: 45px !important;
    border: none;
    border-radius: 0;
    background-color: #000000 !important;
    border-radius: 10px;
    display: none !important;
}
.btn-primary {
    background-color: #3f3f3fa8;
    border-radius: 23px;
}
.btn-success {
    background-color: #7a00ff;
}
.quickAddSubmit {
    margin-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 28px;
    background-color: #565656;
}
.seQueue {
    border-right: 2px solid rgba(15,15,15,.3);
    background: #00b3c9;
    height: 3rem;
    transition: background .4s;
    border-top-left-radius: 3em;
    border-bottom-left-radius: 3em;
}
.seQueue {
    border-top-left-radius: 3em !important;
    border-bottom-left-radius: 3em !important;
}
#btnQueueClear {
    margin-left: 10px;
}
#btnQueueClear:hover {
    background-color: #000000e0;
}
#btnQueueDown {
    margin-left: auto;
    background-color: #000000;
}
#btnQueueDown:hover {
    background-color: #59555f;
}
#btnQueueUp {
    margin-left: 6px;
    background-color: #000000;
}
#btnQueueUp:hover {
    background-color: #59555f;
}
.btnQueueTable img {
    width: 15px;
    height: 15px;
    pointer-events: none; 
}
.btnQueueTable {
    width: 30px;
    height: 30px;
    align-self: flex-end;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#btnQueueDelete {
    background-color: #000000;
    margin-left: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#btnQueueDelete:hover {
    background-color: #711a1a;
}
.upNextLabel {
    border-radius: 50rem!important;
    background-color: #ffff00;
    color: #313131;
    margin-left: 3px;
}
.queueTableRowData {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.queueTableRowData a {
    max-width: 318px;
}
tr {
    line-height: 8px;
    font-size: 13px;
    border-bottom: 1px solid #b7b7b71c;
    cursor: pointer;
}
tr:not(:first-child):hover {
    background-color: #8080800f;
}
th {
    text-align: left;
    padding: 8px;
    text-shadow: black 0px 0px 10px;
    width: 35em;
}
td {
    text-align: left;
    padding: 10px;
    text-shadow: black 0px 0px 10px;
    line-height: 20px;
}
tr:first-child {
    height: 45px;
    background: #121212;
}
td:first-child {
    text-align: center;
    width: auto;
}
th:first-child {
    width: 1em;
    text-align: center;
}
.blurred {
    filter: blur(5px);
}
.noscroll {
    overflow: hidden;
}
.ellipsis {
    display: inline-block;
    max-width: 200px; /* Set the maximum width for the span */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }