header {
    background: #141414;
    position: absolute;
}
#player-wrapper {
    padding: 0 !important;
    height: calc(100% - 48px) !important;
}
.container.watch-page {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
}
.container.watch-page:nth-of-type(2) {
    max-width: 75%;
}